# Virtual Environment
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log
staticfiles/

# VS Code
.vscode/

# Environment Variables
.env

# OS files
.DS_Store
Thumbs.db
db.sqlite3
__pycache__/
*.pyc
__pycache__/
*.pyc
